.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#news-cont{
  margin-left: 5px;
  margin-right: 5px;
}
.news-item{
  text-align: left;
  padding:10px
}
.highGreen{
  color: #2EA46C;
  text-decoration: none;
}
.highGreen:hover{
  color: #2EA46C;
}

.highBlue{
  color: #619CD1;
  text-decoration: none;
}
.highBlue:hover{
  color: #619CD1;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width:400px) {
  #news-cont{
    margin-left: 0;
    margin-right: 0;
  }
}
